// ./scss/framework/modules/_background.scss
// Modules des background

.utilitaire_visibilite__none {
  display: none;
}

.background_rectangle_color {
  width: 100%;
  height: auto;
  background: yellow;
}

.background_carre_color {
    width: 100px;
    height: 100px;
    background: red;
    -ms-transform: rotate(45deg); /* Internet Explorer */
    -moz-transform: rotate(45deg); /* Firefox */
    -webkit-transform: rotate(45deg); /* Safari et Chrome */
    -o-transform: rotate(45deg); /* Opera */
}
