// ./scss/framework/modules/_boites.scss
// MODULE DES BOITES

  .boite_dimension__fixe {
    width: 100%;
    max-width: $boiteDimensionFixe;
    margin: auto;
  }

  .boite_dimension__fixe-1 {
    width: 100%;
    max-width: $boiteDimensionFixe;
    margin: auto;
  }

  .boite_bords {
    border: $boiteBordsCouleur $boiteBordsDimension solid;
    padding: $boitePadding;
  }

  .boite_fluide {
    width: 100%;
    max-width: $boiteFluide;
    margin: auto;
  }
