// ./scss/framework/modules/_menus.scss
// MODULE DES MENUS

.menu_type__horizontal {
  display: flex;
  justify-content: $menuJustifyContent;
  list-style: none;
  padding-left: 10%;
  align-items: $menuAlignVertical;
  @media (min-width: 570px) {
    padding-left: 20%;
  }
  @media (min-width: 768px) {
    padding-left: 35%;
  }
}
/* pour mettre le menu a droite en mode flottant */
/*
  ul.menu_type__horizontal {
    float: right;
  }

  ul.menu_type__horizontal li  {
    float: left;
  }
*/
/* fin pour mettre le menu a droite */
//ul.menu_type__horizontal {text-align: right;}
//ul.menu_type__horizontal li {display: inline;}
.menu_type__horizontal > li > a {
  background: $menuCouleurNormal;
  padding: 1em;
  color: $menuCouleurTexteNormal;
  text-decoration: none;
  //font-size: 1em;
  //margin-top: 20px;
  //float: right;
  //text-transform: uppercase;
}

.menu_type__horizontal > li:not(:last-of-type) {
  //margin-right: $menuGoutiere;
}

.menu_type__horizontal > li > a:active,
.menu_type__horizontal > li > a:hover,
.menu_type__horizontal > li.actif > a {
  background: $menuCouleurActif;
  color: $couleur2;
}

// ---------------------- MENU VERTICAL 1 -------------------------------------

.menu_vertical__1 ul {

  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;

}

.menu_vertical__1 li a {

  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.menu_vertical__1 li a:hover {

  background-color: #555;
  color: white;
}

.menu_vertical__1  li a:active,
.menu_vertical__1  li.actif a {
  background: #4CAF50;
  color: white;
}

// ---------------------- MENU VERTICAL 2 -------------------------------------

// Juste les border ajoutés au ul au li et un text-align center.

.menu_vertical__2 ul {

  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  border: 1px solid #555;

}

.menu_vertical__2 li a {

  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  border-bottom: 1px solid #555;
}

.menu_vertical__2 li:last-child {
  border-bottom: none;
}

.menu_vertical__2 li a:hover {

  background-color: #555;
  color: white;
}

.menu_vertical__2  li a:active,
.menu_vertical__2  li.actif a {
  background: #4CAF50;
  color: white;
}

// ---------------------- MENU VERTICAL FIXE -------------------------------------

// Juste les border ajoutés au ul au li et un text-align center.

.menu_vertical__fixe ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px; // possibilité de mettre en % style 25%
  background-color: #f1f1f1;
  height: auto; /* Full height */ // en %
  position: fixed; /* Make it stick, even on scroll */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */


}

.menu_vertical__fixe li a {

  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
  //border-bottom: 1px solid #555;
}

.menu_vertical__fixe li:last-child {
  border-bottom: none;
}

.menu_vertical__fixe li a:hover {

  background-color: #555;
  color: white;
}

.menu_vertical__fixe  li a:active,
.menu_vertical__fixe  li.actif a {
  background: #4CAF50;
  color: white;
}

// ---------------------- MENU HORIZONTAL ------------------------------------------

.menu_horizontal ul {

  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  //background-color: #f44336;

  height: 200px;
}

.menu_horizontal li {

  float: left;


}

.menu_horizontal li a {
  color: black;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;

  height: auto;

}

.menu_horizontal li img {


  visibility: visible;
  display: block;

}

/* Change the link color to #111 (black) on hover */
//.menu_horizontal li a:hover {
  //background-color: #111;
//}
//}



// ---------------------- MENU HORIZONTAL transparent ------------------------------------------

.menu_horizontal__transparent ul {

  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  //background-color: #f44336;

  height: 50px;
}

.menu_horizontal__transparent li {

  float: left;


}

.menu_horizontal__transparent li a {
  color: white;
  text-align: center;
  padding: 15px 20px;
  text-decoration: none;

  height: auto;

}

/* Change the link color to #111 (black) on hover */
//.menu_horizontal li a:hover {
  //background-color: #111;
//}

// ---------------------- MENU HORIZONTAL Simple ------------------------------------------

.menu_horizontal__simple ul {
  margin: 0;
  padding: 0;
}

.menu_horizontal__simple li {
display: inline-block;
}


.menu_horizontal__simple li a {

  color: #ffc107;
  display: block;
  padding: 8px;
  text-decoration: none;
}

// ---------------------- MENU HORIZONTAL Simple1 ------------------------------------------

.menu_horizontal__simple1 ul {
  margin: 0;
  padding: 0;
}

.menu_horizontal__simple1 li {
display: inline-block;
}


.menu_horizontal__simple1 li a {

  color: #4CAF50;
  display: block;
  padding: 8px;
  text-decoration: none;
}


// ---------------------- MENU HORIZONTAL 1 ------------------------------------------


.menu_horizontal__1 ul {
  margin: 0;
  padding: 0;
}

.menu_horizontal__1 li {
  float: left;
}

.menu_horizontal__1 a {
  display: block;
  padding: 8px;
  text-decoration: none;
  color: #000;
  background-color: #dddddd;
}


// ---------------------- MENU HORIZONTAL 2 ------------------------------------------

.menu_horizontal__2 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.menu_horizontal__2 li {
  float: left;
}

.menu_horizontal__2 li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.menu_horizontal__2 li a:hover {
  //background-color: #111;
}

// ---------------------- MENU HORIZONTAL 3 ------------------------------------------

.menu_horizontal__3 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.menu_horizontal__3 li {
  float: left;
}

.menu_horizontal__3 li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.menu_horizontal__3 li a:hover {
  background-color: #111;
}

.actif {
  background-color: #4CAF50;
}


// ---------------------- MENU HORIZONTAL 4 ------------------------------------------

.menu_horizontal__4 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.menu_horizontal__4 li {
  float: left;
  border-right: 1px solid #bbb;
}

.menu_horizontal__4 li:last-child {
  border-right: none;
}

.menu_horizontal__4 li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.menu_horizontal__4 li a:hover {
  background-color: #111;
}

.actif {
  background-color: #4CAF50;
}


// ---------------------- MENU HORIZONTAL FIXE TOP ------------------------------------------

.menu_horizontal__fixeTop ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.menu_horizontal__fixeTop li {
  float: left;
  border-right: 1px solid #bbb;
}

.menu_horizontal__fixeTop li:last-child {
  border-right: none;
}

.menu_horizontal__fixeTop li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.menu_horizontal__fixeTop li a:hover {
  background-color: #111;
}

.actif {
  background-color: #4CAF50;
}

// ---------------------- MENU HORIZONTAL FIXE BOTTOM ------------------------------------------

.menu_horizontal__fixeBottom ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.menu_horizontal__fixeBottom li {
  float: left;
  border-right: 1px solid #bbb;
}

.menu_horizontal__fixeBottom li:last-child {
  border-right: none;
}

.menu_horizontal__fixeBottom li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.menu_horizontal__fixeBottom li a:hover {
  background-color: #111;
}

.actif {
  background-color: #4CAF50;
}

// -------------------------- MENU DEROULANT HORIZONTAL  ----------------------------

.menu_deroulant__horizontal ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  align-items: $menuAlignVertical;
}

.menu_deroulant__horizontal li {
  float: left;
}

.menu_deroulant__horizontal li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu_deroulant__horizontal li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.menu_deroulant__horizontal li:first-child a:hover, .dropdown:hover .dropbtn {
  background-color: #333;
}

.menu_deroulant__horizontal li.dropdown {
  display: inline-block;
}

.menu_deroulant__horizontal .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.menu_deroulant__horizontal .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.menu_deroulant__horizontal .dropdown-content a:hover {background-color: #f1f1f1;}

.menu_deroulant__horizontal .dropdown:hover .dropdown-content {
  display: block;
}

// -------------------------- MENU DEROULANT HORIZONTAL 1 ----------------------------

.menu_deroulant__horizontal1 ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  align-items: $menuAlignVertical;
}

.menu_deroulant__horizontal1 li {
  float: left;
}

.menu_deroulant__horizontal1 li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu_deroulant__horizontal1 li a:hover, .dropdown:hover .dropbtn {

  background-color: red;
}

.menu_deroulant__horizontal1 li:first-child a:hover, .dropdown:hover .dropbtn {
  background-color: #333;
}

.menu_deroulant__horizontal1 li.dropdown {
  display: inline-block;
}

.menu_deroulant__horizontal1 .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.menu_deroulant__horizontal1 .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.menu_deroulant__horizontal1 .dropdown-content a:hover {background-color: #f1f1f1;}

.menu_deroulant__horizontal1 .dropdown:hover .dropdown-content {
  display: block;
}


// -------------------------- MENU HORIZONTAL ----------------------------


// -------------------------- NAVIGATION ANIMATION ----------------------------

/* Effect 1: Brackets */
.menu_effet__1 li a::before,
.menu_effet__1 li a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.menu_effet__1 li a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.menu_effet__1 li a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.menu_effet__1 li a:hover::before,
.menu_effet__1 li a:hover::after,
.menu_effet__1 li a:focus::before,
.menu_effet__1 li a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

/* Effect 2: 3D rolling links, idea from http://hakim.se/thoughts/rolling-links */
.menu_effet__2 a {
	line-height: 44px;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
}

.menu_effet__2 a span {
	position: relative;
	display: inline-block;
	padding: 0 14px;
	background: #2195de;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.menu_effet__2 a span::before {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #0965a0;
	content: attr(data-hover);
	-webkit-transition: background 0.3s;
	-moz-transition: background 0.3s;
	transition: background 0.3s;
	-webkit-transform: rotateX(-90deg);
	-moz-transform: rotateX(-90deg);
	transform: rotateX(-90deg);
	-webkit-transform-origin: 50% 0;
	-moz-transform-origin: 50% 0;
	transform-origin: 50% 0;
}

.menu_effet__2 a:hover span,
.menu_effet__2 a:focus span {
	-webkit-transform: rotateX(90deg) translateY(-22px);
	-moz-transform: rotateX(90deg) translateY(-22px);
	transform: rotateX(90deg) translateY(-22px);
}

.csstransforms3d .menu_effet__2 a:hover span::before,
.csstransforms3d .menu_effet__2 a:focus span::before {
	background: #28a2ee;
}

/* Effect 3: bottom line slides/fades in */

.menu_effet__3 li {
	position: relative;
}

.menu_effet__3 li a {
	padding: 8px 0;
}

.menu_effet__3 li a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 2px;
	background: white;//rgba(0,0,0,0.1);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.menu_effet__3 li a:hover::after,
.menu_effet__3 li a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}


/* Effect 4: bottom border enlarge */

.menu_effet__4 li {
	position: relative;
}

.menu_effet__4 li a {
	padding: 0 0 10px;
}

.menu_effet__4 li a::after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: #fff;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.menu_effet__4 li a:hover::after,
.menu_effet__4 li a:focus::after {
	height: 2px;
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}


/* Effect 5: same word slide in */

.menu_effet__5 li {
	//position: relative;
}

.menu_effet__5 li a {
	overflow: hidden;
	padding: 0 4px;
	height: 1em;
}

.menu_effet__5 li a span {
	position: relative;
	display: inline-block;
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
}

.menu_effet__5 li a span::before {
	position: absolute;
	top: 100%;
	content: attr(data-hover);
	font-weight: 700;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.menu_effet__5 li a:hover span,
.menu_effet__5 li a:focus span {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	transform: translateY(-100%);
}

/*
<div class:"container topBotomBordersOut ">
  <a> home
  <a> Jeux
</div>
 */

div.container
{
    font-family: Raleway;
    margin: 0 auto;
	padding: 10em 3em;
	text-align: center;
}

div.container a
{
    color: #FFF;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

/* Top and Bottom borders go out */
div.topBotomBordersOut a:before, div.topBotomBordersOut a:after
{
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

div.topBotomBordersOut a:before
{
    top: 0px;
    transform: translateY(10px);
}

div.topBotomBordersOut a:after
{
    bottom: 0px;
    transform: translateY(-10px);
}

div.topBotomBordersOut a:hover:before, div.topBotomBordersOut a:hover:after
{
    opacity: 1;
    transform: translateY(0px);
}
