// ./scss/framework/modules/_utilistaires.scss
// Modules des utilitaires

.utilitaire_visibilite__none {
  display: none;
}

.alignement_central {
  display: block;
  margin: auto;
  //align-items: center;
  //text-align: center;
  //width: 300px;
}

.bouton {
  background-color: #366CB2;
  color: white;
  padding: 15px 60px;
  text-align: center;
  text-decoration: none;
  //display: inline-block;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.bouton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.6), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.bouton-2 {
  background-color: #366CB2;
  border: none;
  color: white;
  padding: 15px 60px;
  text-align: center;
  text-decoration: none;
  //display: inline-block;
  font-size: 16px;
  //box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.bouton-3 {
  background-color: #366CB2;
  border: #366CB2; // Si j'enleve le border j'aurai un effet eterieur de bouton
  //border-style: solid;
  //border-width: 1px;
  color: white;
  padding: 15px 60px;
  text-align: center;
  text-decoration: none;
  //display: inline-block;
  font-size: 16px;
  box-shadow: 0px 4px 10px 3px #777, 0 6px 20px 0 rgba(0,0,0,0.19);
  transition: box-shadow 0.3 ease, transform 0.3s ease;
}

.bouton-3:hover {
  //box-shadow: 0 12px 16px 0 rgba(0,0,0,0.6), 0 17px 50px 0 rgba(0,0,0,0.19);
  background-color: #5484C2;
  color: white;
  padding: 15px 60px;
  text-align: center;
  text-decoration: none;
  //display: inline-block;
  font-size: 16px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1), 0 6px 20px 0 rgba(0,0,0,0.1);

}

.bouton-3:active {

  transform: scale(.96);
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #5484C2 radial-gradient(circle, transparent 1%, #5484C2 1%) center/15000%;
}
.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}




.card {

  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 2px;
  //background: #fff;
  //padding: 1px;
  margin: auto;
}

.card:hover {
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-container {
  padding: 2px 16px;
  text-align: center;
  //width: 100%;
  //height: 150%;

}

.card-container a {
  text-decoration: none;
  //position: absolute;
}

.card-container h4 a {
  color: #3E3E3E;
  font-family: 'Jura-medium';
  font-size: 1.125rem;
}

.card-container p {
  color: #3E3E3E;
  font-family: 'Jura-light';
}

.card-container p a {
  //font-size: 0.75rem;
  color: #366CB2;
  font-family: 'Jura-light';
}

.card-container p a:hover {
  //font-size: 0.75rem;
  color: #36B24F;
}

.card img {
  filter: brightness(110%) saturate(160%) sepia(30%) hue-rotate(350deg);
  transition: .3s ease-in-out;
}

.card img:hover {
  filter: contrast(150%) brightness(90%) saturate(100%) sepia(0%) hue-rotate(360deg);
}

article {

}

.relative {
  position: relative;
  height: 520px;
}

 .bouton_articles__jeux {

    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
