// ./scss/framework/_variables.scss
// PARAMETRES DU FRAMEWORK

/*
    1. LES COULEURS
    2. LES BOITES
    3. LES TEXTES
    4. LES MENUS
    5. LES GRILLES
    6. LES PAGINATIONS
 */

/* -----------------------------------------
     1. LES COULEURS
   ----------------------------------------- */
  // PALETTE DE COULEURS
    $couleur1: #EEEEDD;
    $couleur1Claire: #888888;
    $couleur1Foncee: #444444;

    $couleur2: #FF2255;
    $couleur2Claire: #4a463b;
    $couleur2Foncee: #4a463b;

  // COULEURS NEUTRES
    $couleurN1: #666;
    $couleurN1Claire: #888888;
    $couleurN1Foncee: black;

/* -----------------------------------------
     2. LES BOITES
   ----------------------------------------- */
  $boiteDimensionFixe: 960px;
  $boiteBordsDimension: 2px;
  $boiteBordsCouleur: $couleurN1;
  $boitePadding: 2rem;
  $boiteFluide: 60%;

/* -----------------------------------------
     3. LES TEXTES
   ----------------------------------------- */

  $texteFont1: Verdana, arial, sans-serif;
  $texteTailleGrand: 3rem;
  $texteTailleMedium: 1.2rem;
  $texteTaillePetit: .8rem;

/* -----------------------------------------
     4. LES MENUS
   ----------------------------------------- */
// MENU_TYPE__HORIZONTAL
    $menuGoutiere: 1px;
    $menuJustifyContent: flex-start;
    /* flex-start, flex-end, center,
       space-between, space-around, stretch */
    $menuAlignVertical: center;
    /* stretch, center, baseline */

    // Etat normal
    $menuCouleurNormal: ;
    $menuCouleurTexteNormal: $couleurN1;

    // Etat actif et hover
    $menuCouleurActif: ;
    $menuCouleurTexteActif: #fff;

/* -----------------------------------------
     5. LES GRILLES
   ----------------------------------------- */
  $grilleNombreColonnes:       12;
  $grilleGoutiereHorizontale: 1rem;
  $grilleGoutiereVerticale:   1rem;
  $grilleBreakPoints      :   ('xs':'0',
                                's':'576px',
                                'm':'768px',
                                'l':'992px',
                               'xl':'1200px');

/* -----------------------------------------
     6. LES PAGINATIONS
   ----------------------------------------- */
   $paginationJustifyContent: center;
   /* flex-start, flex-end, center,
      space-between, space-around, stretch */
   $paginationAlignVertical: center;
   /* stretch, center, baseline */
   $paginationPadding: .5em 1em;

   // Etat normal
   $paginationCouleurNormal: #fff;
   $paginationCouleurTexteNormal: $couleur1;
   $paginationBordNormal: $couleur1 1px solid;

   // Etat actif et hover
   $paginationCouleurActif: $couleur1;
   $paginationCouleurTexteActif: #fff;

 /* -----------------------------------------
      7. Slider
    ----------------------------------------- */

    $dimensionImageSlider : 1920px;
