// ./scss/framework/modules/_visibilites.scss
// MODULES DES VISIBILITES
@import 'variables';


@each $etiquette, $dimension in $grilleBreakPoints{

    .#{$etiquette}-visible {
      display: none;
    }

    @media screen and (min-width: #{$dimension}) {
      .#{$etiquette}-cache {
        display: none;
      }
      .#{$etiquette}-visible {
        display: block;
      }
    }

}
