// ./scss/app.scss
/*
    FICHIER DE SURCHARGE
 */
@import 'variables';
/* ---------------------------------------------------
   SPECIFICATIONS GENERALES - Valeurs par dÃ©faut
   ---------------------------------------------------
*/

@font-face {
  font-family: "AudioWide";
  src: url("../fonts/Audiowide-Regular.ttf");
}

@font-face {
  font-family: "Comfortaa-Light";
  src: url("../fonts/Comfortaa-Light.ttf");
}

@font-face {
  font-family: "Comfortaa-Regular";
  src: url("../fonts/Comfortaa-Regular.ttf");
}

@font-face {
  font-family: "Comfortaa-Bold";
  src: url("../fonts/Comfortaa-Bold.ttf");
}

@font-face {
  font-family: "Exo2-Bold";
  src: url("../fonts/Exo2-Bold.ttf");
}

@font-face {
  font-family: "Exo2-ExtraBold";
  src: url("../fonts/Exo2-ExtraBold.ttf");
}
/*
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
*/
h1 {
  color: #ffc107;
  font-family: "AudioWide" ;
  font-size: $texteTailleGrand;
}

h2 {
  font-family: "Comfortaa-Bold" ;
  font-size: 1.8rem;
}

h3 {
  color: black;
  font-family: "Comfortaa-Bold";
  font-size: 1.4rem;

}

p {
  color: #222;
  font-family: "Comfortaa-Regular";
  font-size: $texteTailleMedium;
  line-height: 25px;
}

a {
  font-family: "Comfortaa-Bold" ;
}

footer {
  width: 100%;
  height: 200px;
  background: #333;
}

main {
  //min-height: 468px;
}

// ------------------GROOVE-BOARD-----------------------------

#sequencer {
  background: grey;
  padding:20px;
  width: 100%;
  height: auto;
}
/*
.bouton_1:after{
  position: absolute;
  //top:0;
  //left: 0;
  z-index: -2;
  display: block;
  content: "";
  width: 200%;
  height: 200%;
  background: blue;
}
*/
  .pads .bouton_1[aria-checked="true"]{
      background-color: #1e1e1e;
  }
  .pads .bouton_1-bis[aria-checked="true"]{
      background-color: #1e1e1e;
  }
  .pads .bouton_2[aria-checked="true"]{
      background-color: #1e1e1e;
  }

  .pads {
    width: 100%;
    height: auto;
    display: flex;
  }

// -------------------BOUTON----------------------------------

.controls{
  background: #9e9e9e;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 10px;
}

.bouton_1 {
  position: relative;
  //opacity: .99;
  //z-index: 0;
  background-color: #9e9e9e;
  border: Black 2px solid;
  color: white;
  //padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  //font-size: 16px;
  width: 50px;
  height: 30px;
  margin: 1px;
}



.bouton_1-bis {
  background-color: #5e5e5e;
  border: Black 2px solid;
  color: white;
  //padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  //font-size: 16px;
  width: 50px;
  height: 30px;
  margin: 1px;
}

.bouton_2 {
  background-color: #fdd835;
  border: Black 2px solid;
  color: white;
  //padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  //font-size: 16px;
  width: 50px;
  height: 30px;
  margin: 1px;
}

// -----------------------------------------------------------

.alignement_vertical__centre {
  //display: flex;
  align-items: center;
  //justify-content: center;
}

.alignement_vertical__centre img {
  width: 80%;
}

.icone {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 64px;
  height: 64px;
  //background-repeat: no-repeat;

}

.logo {
  float: left;
  background-image: url("../media/LOGO.png");
  width: 60px;
  height: 80px;
}

.logo-sacha {
  //float: left;
  background-image: url("../media/Sacha-Logo.png");
  //width: 100%;
  //height: 100%;
}
//------------------------ MENU DEROULANT -----------------------------------------

.Sound-name {
  background: #9e9e9e;
  padding: 5px;
}
.title-pad {
  margin: 0;
  font-size: 1rem;
}

.box {
  background: #009688;
  opacity: .99; // Me permet d'afficher mon z-index du bouton_1:after.
}

//-----------------------------SLIDER
