/*
Theme Name: jdsTheme
Theme URI: /
Author: Alexandre Glenet
Author URI: /
Description: Theme réalisé pour un examen terminal de web design à l'ieps fléron
Version: 1.0
Text Domain: jdsTheme
*/

@import 'variables';
@import 'framework';

// Polices ---------------------------------------------------------------------

@font-face {
  font-family: "Ebrima-regular";
  src: url("fonts/Ebrima Regular.ttf"); }

@font-face {
  font-family: "Ebrima-bold";
  src: url("fonts/Ebrima Bold.ttf"); }

@font-face {
  font-family: "Jura-light";
  src: url("fonts/Jura-Light.ttf"); }

@font-face {
  font-family: "Jura-regular";
  src: url("fonts/Jura-Regular.ttf"); }

@font-face {
  font-family: "Jura-medium";
  src: url("fonts/Jura-Medium.ttf"); }

@font-face {
  font-family: "Comfortaa-regular";
  src: url("fonts/Comfortaa-Regular.ttf"); }

@font-face {
  font-family: "Comfortaa-bold";
  src: url("fonts/Comfortaa-Bold.ttf"); }

// Spécification générales -----------------------------------------------------

body {
  background: white;
}

nav ul li a {
  font-family: 'Ebrima-regular';
}

footer {
  padding-top: 50px;
  padding-bottom: 10px;
}

footer h3 {
  font-family: 'Ebrima-regular';
}

footer p {
  font-family: 'Jura-regular';
}

main section {
  padding-top: 50px;
  padding-bottom: 50px;
}

main h3 {
  font-family: 'Comfortaa-bold';
  font-size: 1.875rem;
  //margin-bottom: 60px;
}

.h3-single {
  font-family: 'Jura-medium';
  font-size: 1.875rem;
  text-align: center;
}

.single-thumb img{
  height: auto;
  display: block;
  margin: auto;
  border: yellow 1px solid;
}

.essais img {
  width: 100%;
}

.article-seul-content p {
  font-family: 'Comfortaa-regular';
  font-size: 1.2rem;
}

.content-text a {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}

.content-text p {
  margin-top: 0;
}

.content-text h4 {
  font-family: 'Comfortaa-bold';
  font-size: 1.6rem;
}

.inline {
  display: inline-block;
}

.colonne-text {
  column-count: 1;
}

.colonne-categorie {
  //display: inline-block;
  //column-count: 4;
  //align-items: center;
}



.categorie-card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  //border: purple 1px solid;
  border-radius: 2px;
  max-width: 228px;
  min-height: 228px;
  padding: 5px;
  margin: auto;
}

.categorie-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.categorie-card img {
  max-width: 228px;
  min-height: 228px;

}

.categorie-card a {
  text-decoration: none;
  font-family: 'Jura-medium';
  color: #3E3E3E;
  font-size: 1.125rem;
}

.categorie-card-content {
  margin-top: 20px;
  margin-bottom: 20px;
}



.categorie-section h2 {
  font-family: 'Comfortaa-bold';
  font-size: 1.875rem;

}

h2{
  font-family: 'Comfortaa-bold';
  font-size: 1.875rem;
}

.image-categorie{
  width: 150px;
  height: 150px;
  display: block;
  margin: auto;
}

.paginate {
  display: inline;
  background: #366CB2;
    text-align: center;
    margin: auto;
    padding: 20px;
    border: black 1px solid;
    margin-bottom: 20px;
    margin-top: 20px;
}

.paginate a {
  font-family: 'Comfortaa-ligth';
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  margin: 5px;
}

span.page-numbers.current{
  font-family: 'Comfortaa-bold';
  color: red;
}
// Classe utilisée par le plugin Wordpress WP-PostRatings.
.post-ratings img {
  width: 3.5%;
}

.image-additionnelle img {
  width: 150px;
  height: 150px;
  border: black 1px solid;
  margin-right: 4px;
  //margin-top: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 2px;
}

.image-additionnelle img:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.image-additionnelle {
    margin-top: 8px;
}

.formulaire label {
  font-family: 'Comfortaa-bold';
}

.h2-form {

  font-family: 'Comfortaa-bold';
  font-size: 1.875rem;

}


// ANCRE -----------------------------------------------------------------------

html {
  scroll-behavior: smooth; // Défilement doux, permet à mon systeme d'ancrage de défiler lentement.
}


// H2 Description --------------------------------------------------------------

#description {
  color: black;
  font-family: 'Ebrima-regular';
  font-size: 3.125rem;
  display: flex;
  align-items: center;
}

// Icone -----------------------------------------------------------------------

.icone {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
}

.icone-down {
  background-image: url("image/fleche-down.png");
  margin-bottom: 50px;
  margin-top: 20px;
}

.margin-top-bottom-low {
  margin-top: 40px;
  margin-bottom: 40px;
}

.margin-top-bottom-high {
  margin-top: 60px;
  margin-bottom: 60px;
}
